:root{
    --primary-color: #4B8325;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
footer{
    font-size: 1.6rem;
    width: 100vw;
    height: 100vh;

    background-color:var(--primary-color)
}
/*Contenedor principal*/
.container {
    display: flex;
    width: 100vw;
    height: 42vh;
    align-items: center;
    margin-top: -4vh;
    justify-content: space-around;
}
/*Equipo de desarrollo*/
.equipo{
    width: 60vh;
    height: 38vh;
    display: flex;
    align-items: center;
    justify-content: left;
}
.nayis{
    width: 40%;
    position: relative;
}
.juan{
    width: 40%;
}
.equipo img {
    height: 27vh;
    justify-content: left;
}
figcaption{
    margin-left: 70%;
    margin-top: -10%;
}
/*seccion central*/
.contenido-info{
    height: 38vh;
    width: 68vw;
    display: flex;
}
.datos{

    width: 60vh;
    height: 38vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}
p {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}
.datos .email{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email .img-email{
    width: 7vw;
}
.datos .telefono{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.telefono .img-telefono {
    width: 3vw;
}
.name{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 40px;
}
/*Seccion de ayuda*/
.ayuda form{
    display: flex;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 30vw;
    margin-top: -20vh;
}
label{
    color: white;
    font-size: 1.9rem;
    margin-bottom: 2%;
}
.ayuda input[type=email]{
    height: 4.5vh;
	width: 60%;
	background-color:var(--primary-color);
	border: none;
	border-bottom: 2px solid white;
	margin-bottom: 15px;
	color: rgb(255, 253, 253);
	font-size: 1.3rem;
	max-width: 300px;
	outline-style: none;
    margin-bottom: 4%;
}
input:focus{
	box-shadow: 5px 5px 6px 0 rgba(185, 185, 185, 0.5);
}
.ayuda textarea{
    color: white;
    background-color:var(--primary-color);
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    justify-content: center;
    outline-style: none;
}
textarea:focus{
	box-shadow: 5px 5px 6px 0 rgba(185, 185, 185, 0.5);
}
input[type=submit]{
	height: 4vh;
	width: 10vw;
	background-color: var(--primary-color);
	color: white;
	font-size: 2rem;
	position: relative;
	top: 3%;
	border: 0;
	max-width: 300px;
    font-weight: bold;
}
input[type=submit]:hover{
	cursor: pointer;
	background-color: white;
	color: var(--primary-color);
}
::placeholder{
    color: #E9E8E9;
}
.ayuda img{
    height: 20vh;
    margin-top: 8%;
}