:root{
    --primary-color: #4B8325;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
.principal .imagen-fondo{
    height: 99.5vh;
    width: 99.5vw;
    position: absolute;
}
.pagina{
    position: relative;
    height: 60vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}
.orden{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}
.imagenes{
    margin-top: 75%;
    margin-left: 37%;
}
.imagenes img{
    position: relative;
    height:39vh;
}
.imagenes .img-arriba{
    height: 39vh;
    position: relative;
    z-index: 1;
}
.imagenes .img-arriba{
    margin-right: 20vh;
    margin-left: 20vh;
}
.imagenes .img-izq{
    height: 37vh;
    position: relative;
    top: -55px;
}
.imagenes .img-der{
    height: 39vh;
    position: relative;
    top: -20px;
}
/*Texto*/
.texto{

    position: relative;
    height: 0vh;
    width: 40vw;
    color: var(--primary-color);
    font-size: 2rem;
    display: flex;
    margin-right: 10%;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin-top: 20%;
}
h1{
    margin-bottom: 0;
    font-size: 6rem;
}
.tu {
    margin-top: 0;
    text-align: center;
    margin-bottom: 10%;
}
li{
    color: #A6A6A6;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    top: 20px;
    list-style: var(--primary-color);
}
